@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&family=Material+Icons&display=swap');
@mixin titleFont() {
    font-family: "Poppins", "Open Sans", "Roboto", Arial, Helvetica, sans-serif !important;
    font-weight: 500 !important;
}

@mixin articleFont() {
    font-family: "Open Sans", "Roboto", Arial, Helvetica, sans-serif !important;
    font-weight: 400 !important;
}

@mixin link() {
    color: dodgerblue;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    &::before {
        position: absolute;
        bottom: -1px;
        left: 50%;
        transition: width 0.3s;
        transform: translateX(-50%);
        width: 0;
        height: 1px;
        background-color: dodgerblue;
        content: "";
    }
    &:hover {
        &::before {
            width: 100%;
        }
    }
    &:active {
        color: royalblue;
    }
}

body {
    @include articleFont();
}

.article-centered {
    width: calc(100% - 40px);
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 1000px;
    color: rgba(0, 0, 0, 0.87);
    p {
        text-align: justify;
    }
    mark {
        color: inherit;
        background-color: inherit;
        position: relative;
        &::before {
            position: absolute;
            bottom: 5%;
            left: -5px;
            width: calc(100% + 10px);
            height: 30%;
            background-color: #ff0;
            opacity: 0.75;
            content: "";
            z-index: -1;
            border-radius: 999999px;
        }
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.25em;
    }
    h4 {
        font-size: 1.125em;
    }
    h5 {
        font-size: 1.0625em;
    }
    h6 {
        font-size: 1em;
    }
    a {
        @include link();
    }
}

.brand-logo {
    @include titleFont();
    color: rgba(0, 0, 0, 0.87);
}

.nav-wrapper {
    padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include titleFont();
    margin: 1rem 0 1rem 0;
}

.card-title {
    @include titleFont();
}

.index-articles {
    .article-card {
        border-radius: 8px;
        margin: 10px;
        width: 100%;
        max-width: 460px;
        color: inherit;
        &:active {
            color: inherit;
        }
        .card-title {
            margin-bottom: 0 !important;
        }
    }
}

@media print {
    nav,
    footer {
        display: none;
    }
}