@import url("https://fonts.googleapis.com/css?family=Roboto|Open+Sans:500|Material+Icons&display=swap");
:root {
    --mdc-theme-primary: dodgerblue;
    --mdc-theme-on-primary: #000;
    --mdc-theme-secondary: dodgerblue;
    --mdc-theme-on-secondary: #000;
}

body {
    font-family: "Open Sans", "Roboto", Arial, Helvetica, sans-serif !important;
    font-weight: 500;
    font-size: 20px;
    margin: 20px;
    background-color: #000;
}

slides {
    display: block;
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow-y: hidden;
    user-select: none;
    slide {
        display: block;
        width: calc(1920px - 40px);
        height: calc(1080px - 40px);
        padding: 20px;
        font-size: 50px;
        position: relative;
        color: black;
        margin: 0px;
        background-color: #fff;
        &.active {
            /* */
            /* */
        }
        & {
            display: block;
        }
        center-text-wrap {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            p {
                text-align: justify;
            }
        }
    }
}

#prev {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

#next {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#prev,
#next {
    transform: scale(0.75);
    transition: transform 0.3s;
    &:hover {
        transform: scale(1);
    }
}

.title {
    font-size: 100px;
}

.subtitle {
    font-size: 75px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.mini {
    font-size: 25px;
    color: grey;
}